<p>You have chosen to redeem "<%= prize.title %>" for <%= prize.cost %> points. Are you sure?</p>
<%= form_tag("/prizes/#{params[:prize_id]}/redemptions") do %>
  <%= submit_tag("Yes, redeem #{prize.cost} points") %>
<% end %>
<%= link_to prizes_path do %>
  <button>No, take me back</button>
<% end %>
