<% prize = Prize.find(params[:prize_id]) %>
<p>You have chosen to redeem "<%= prize.title %>" for <%= prize.cost %> points. Are you sure?</p>
<%= form_tag("/prizes/#{params[:prize_id]}/redemptions") do %>
  <%= hidden_field_tag(:user_id, current_user.id) %>
  <%= hidden_field_tag(:title, prize.title) %>
  <%= hidden_field_tag(:cost, prize.cost) %>
  <%= submit_tag("Yes, redeem #{prize.cost} points") %>
<% end %>
<%= link_to prizes_path do %>
  <button>No, take me back</button>
<% end %>
