<%= form_with model: [:admins, station_form], url: admins_stations_path, id: 'new_station_form' do |f| %>
  <%= render 'shared/errors', record: station_form %>

  <%= f.label :name %>
  <%= f.text_field :name, required: true %>

  <div id="address_or_coordinates_toggler">
    <button type="button" id="use_address" class="selected">
      <%= t '.address' %>
    </button>
    <button type="button" id="use_coordinates">
      <%= t '.coordinates' %>
    </button>
  </div>

  <fieldset id="street_address_fields">
    <%= f.label :street %>
    <%= f.text_field :street %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.select :state, StatesHelper::US_STATES, include_blank: true %>

    <%= f.label :zip %>
    <%= f.text_field :zip, pattern: '^\d{5}(-\d{4})?$' %>
  </fieldset>

  <fieldset id="coordinate_fields">
    <%= f.label :latitude %>
    <%= f.number_field :latitude, step: 'any', min: -90, max: 90 %>

    <%= f.label :longitude %>
    <%= f.number_field :longitude, step: 'any', min: -180, max: 180 %>
  </fieldset>

  <%= f.submit %>
<% end %>
