<nav>
  <ul id="appbar">
    <li>
      <%= fa_icon 'navicon' %>
    </li>
  </ul>
  <div id="nav_drawer_container">
    <div id="nav_drawer">
      <% if user_signed_in? %>
        <%= link_to "#{t(:brand_name)} or logo here", dashboards_show_path, class: 'logo' %>
        <ul id="account_tools">
          <li>
            <%= link_to t('.edit_account'), edit_user_registration_path %>
          </li>
          <li>
            <%= button_to t('.destroy_session'), destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      <% else %>
        <%= link_to "#{t(:brand_name)} or logo here", root_path, class: 'logo' %>
      <% end %>

      <% if user_signed_in? && current_user.has_role?(:admin) %>
        <ul id="admin_links">
          <li>
            <%= link_to t('.admin_dashboard'), admins_dashboards_show_path %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
<div id="appbar_spacer"></div>
