<%= form_with model: deed, id: 'new_deed' do |f| %>
  <%= render 'shared/errors', record: deed %>

  <%= f.label :after_photo %>
  <p class="note">
    <%= t('.after_photo_guidelines') %>
  </p>
  <%= f.file_field :after_photo, direct_upload: true, required: true %>

  <%= f.label :trash_bags %>
  <%= f.number_field :trash_bags, min: 0, step: 1 %>

  <%= f.submit %>
<% end %>
