%article#log_in
  %header
    %h2= t '.header'

  = form_for :user, url: user_session_path, html: { id: 'new_user_session' } do |form|
    = form.label :email, t('.email')
    = form.email_field :email

    = form.label :password, t('.password')
    = form.password_field :password, autocomplete: 'off'

    = form.submit t('.submit')
