<article class="stats">
  <header>
    <h2><%= t('.stats_title') %></h2>
    <%= link_to new_deed_path, class: 'add' do %>
      <%= fa_icon 'plus' %>
    <% end %>
  </header>

  <section class="total_points">
    <div class="count">
      <%= pluralize(current_user.total_points, t('.points')) %>
    </div>
  </section>
</article>

<%= render 'station_map' %>

<%= render 'redeem_a_prize' %>
