<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%=ENV.fetch('GOOGLE_MAPS_KEY', '')%>&callback=Greensteps.initMap">
</script>

<article class="stats">
  <header>
    <h2><%= t('.stats_title') %></h2>
    <% if PointCalculator.new(current_user).total_points_this_month < 30 %>
      <%= button_to new_deed_path, method: :get do %>
        <%= fa_icon 'plus' %>
      <% end %>
    <% else %>
      <%= button_to new_deed_path, method: :get, disabled: true do %>
      <%= fa_icon 'plus', title: t('.maximum_points') %>
      <% end %>
    <% end %>
  </header>

  <section class="total_points">
    <div class="count">
      <%= pluralize(
        PointCalculator.new(current_user).total_points,
        t('.points')
      ) %>
    </div>
  </section>
</article>

<article class="station_map">
  <header>
    <h2><%= t('.station_map_title') %></h2>
  </header>

  <div id="map"></div>
  <aside id="map_info">
    <h3 id="marker_title"></h3>
    <p id="marker_address"></p>
    <button type="button">
      <%= fa_icon 'close' %>
    </button>
  </aside>
</article>
