<h2><%= t('.header') %></h2>
<%= form_with model: [:admins, admin], id: 'new_admin' do |f| %>
  <%= render 'shared/errors', record: admin %>

  <%= f.label :email %>
  <%= f.email_field :email, required: true %>

  <%= f.submit %>
<% end %>
