!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Greensteps
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/appbar'
    = render 'shared/flash'

    %main{:class => "#{controller_name} #{action_name}"}= yield
    #medium_screen_indicator
    #large_screen_indicator
